# tasks file
---
- name: repository | install dependencies (pre)
  ansible.builtin.apt:
    name: "{{ git_lfs_dependencies_pre }}"
    state: "{{ apt_install_state | default('latest') }}"
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags:
    - git-lfs-repository-install-dependencies

- name: repository | add public key
  ansible.builtin.apt_key:
    id: FE2A5F8BDC282033
    url: https://packagecloud.io/github/git-lfs/gpgkey
    state: present
  tags:
    - git-lfs-repository-public-key

- name: repository | add git-lfs repository
  ansible.builtin.apt_repository:
    repo: "{{ item.type }} {{ item.url }} {{ item.component }}"
    state: present
    update_cache: true
    mode: 0644
  with_items: "{{ git_lfs_repositories }}"
  tags:
    - git-lfs-repository-add
